[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/ImGuizmo"]
	path = thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
